@import 'normalize.css';

@import '~antd/dist/antd.css';

body {
  font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;
}

